html, body {
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
}

body {
    background: lightblue;
}


.flex-align {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    /* alignment */
    align-items: center;
    justify-content: center;
}

.flex-align .flex-center {
    flex: 1;
    align-self: center;
    max-width: 33%;
}

.flex-align .flex-topleft {
    flex: 1;
    align-self: flex-start;
}